<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COCINA DE APOLO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
    <h2>Selecciona una imagen para tu receta</h2>
    <p>
        {% with messages = get_flashed_messages() %}

        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% endwith %}
    </p>
   
    <form method="POST" action="/ingresarImagen" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
            <button class="button" onclick="location.href='/ingresarReceta'" type="button">regresar</button>   
        </p>
    </form>

</body>

</html>